/* List.css */
.list {
  margin: 10px;
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  min-width: 250px;
}

.list h3 {
  margin-top: 0;
  border-bottom: 1px solid #ccc;
}

.list ul {
  list-style-type: none;
  padding: 0;
}

.list li {
  padding: 8px;
  margin: 5px 0;
  background-color: white;
  border-radius: 3px;
}